# Supabase
DATABASE_URL=''
DIRECT_URL=''
SUPABASE_URL=''
SUPABASE_SERVICE_ROLE_KEY=''
SUPABASE_IMAGE_BUCKET=''

# Better-Auth
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL='' # Base URL of your app

# AI Server
AI_ENGINE_URL=''